In [42]:
import pandas as pd
import math

In [43]:
l = pd.read_csv('l.csv')
r = pd.read_csv('r.csv')
r

      1    2    3    4    5    6    7    8    9   10   11
0   131  139  130  138  146  151  141  139  142  135  121
1   127  144  146  146  142  138  128  124  125  125  118
2   119  140  142  133  122  121  123  136  154  169  160
3   122  139  161  166  167  170  164  166  167  164  160
4   172  183  191  187  184  182  168  158  160  160  165
5   174  163  157  154  155  160  162  162  164  163  161
6   114  103   70   80   91  138  165  165  169  166  161
7    64   63   46   58   76  123  169  163  157  163  159
8    51   58   49   55   71  107  159  169  156  160  154
9    51   55   44   51   63   96  151  159  165  161  155
10   52   57   56   56   60   82  146  160  158  166  160

In [29]:
array1 = l.values
array1

array([[ 93,  96,  98,  98, 105, 109, 107, 105, 104,  99,  92],
       [ 95, 101, 106, 103, 109, 110, 110, 115, 121, 123, 118],
       [ 93, 106, 113, 118, 128, 130, 134, 141, 149, 150, 141],
       [118, 130, 141, 145, 151, 152, 155, 156, 156, 153, 146],
       [144, 150, 152, 155, 159, 158, 158, 158, 157, 154, 149],
       [131, 122, 116, 120, 131, 144, 153, 161, 163, 162, 160],
       [ 88,  79,  74,  80,  98, 130, 148, 157, 162, 165, 164],
       [ 57,  55,  52,  59,  78, 115, 137, 149, 155, 160, 162],
       [ 47,  48,  46,  51,  67, 104, 130, 141, 147, 155, 160],
       [ 46,  47,  45,  53,  64,  97, 123, 134, 140, 149, 157],
       [ 45,  46,  45,  49,  56,  87, 118, 131, 135, 141, 150]],
      dtype=int64)

In [30]:
sum = 0
for i in range(len(array1)):
    for j in range(len(array1)):
       sum += array1[i][j]
x_bar = sum / 121
x_bar

117.83471074380165

In [31]:
array2 = r.values
array2

array([[131, 139, 130, 138, 146, 151, 141, 139, 142, 135, 121],
       [127, 144, 146, 146, 142, 138, 128, 124, 125, 125, 118],
       [119, 140, 142, 133, 122, 121, 123, 136, 154, 169, 160],
       [122, 139, 161, 166, 167, 170, 164, 166, 167, 164, 160],
       [172, 183, 191, 187, 184, 182, 168, 158, 160, 160, 165],
       [174, 163, 157, 154, 155, 160, 162, 162, 164, 163, 161],
       [114, 103,  70,  80,  91, 138, 165, 165, 169, 166, 161],
       [ 64,  63,  46,  58,  76, 123, 169, 163, 157, 163, 159],
       [ 51,  58,  49,  55,  71, 107, 159, 169, 156, 160, 154],
       [ 51,  55,  44,  51,  63,  96, 151, 159, 165, 161, 155],
       [ 52,  57,  56,  56,  60,  82, 146, 160, 158, 166, 160]],
      dtype=int64)

In [32]:
sum2 = 0
for i in range(len(array2)):
    for j in range(len(array2)):
       sum2 += array2[i][j]
y_bar = sum2 / 121
y_bar

132.9090909090909

In [35]:
cov_xx = 0
for i in range(len(array1)):
    for j in range(len(array1)):
       cov_xx += array1[i][j]*array1[i][j]-x_bar*x_bar
cov_xx = cov_xx / 121
cov_xx

1347.9561505361698

In [36]:
cov_yy = 0
for i in range(len(array2)):
    for j in range(len(array2)):
       cov_yy += array2[i][j]*array2[i][j]-y_bar*y_bar
cov_yy = cov_yy / 121
cov_yy

1612.4132231404983

In [37]:
cov_xy = 0
for i in range(len(array1)):
    for j in range(len(array1)):
       cov_xy += array1[i][j]*array2[i][j]-x_bar*y_bar
cov_xy = cov_xy / 121
cov_xy

1370.8775356874594

In [41]:
ncc = cov_xy/math.sqrt(cov_xx * cov_yy)
ncc

0.9298707824159153